body {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.4px;
    color: #f5f5f5;
    background-color: #2f3742;
}
#container {
    margin: auto
}
#gameHeader {
    display: flex;
    align-items: center;
}
#gameTurnInfo {
    margin: 0 15px 0 auto;
}
#currentPlayerName {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#gameBoard {
    display: inline-block;
}
.row {
    display: flex;
}
.cell {
    width: 110px;
    max-width: 30vw;
    height: 110px;
    background: #ddd;
    border: 0px;
    margin: 2px;
    display: inline-block;
    text-align: center;
    font-size: 60px;
}
.cell:hover:not(:disabled) {
    outline: #478dbf auto 1px;
}
.cell:not(:disabled) {  
    cursor: pointer;
}
#gameFooter {
    display: flex;
}
button {
    border: 1px solid #9ab6c9;
    border-radius: 30px;
    color: #9ab6c9;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: inherit;
    line-height: 1em;
    cursor: pointer;
    margin: 20px auto;
}
button:hover {
    background-color: #478dbf;
    border-color: #478dbf;
    color: #f5f5f5;
}
